
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VistaErBeti</title>
</head>
<body>
    <h1>Hola mundo desde la vista, viva er beti</h1>
</body>
</html>
